repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0      
    hooks:
      - id: no-commit-to-branch
        name: Prevent Commit to Main Branch
        args: ["--branch", "main"]
        stages: [pre-commit]
      - id: check-added-large-files
